<h1>Hi <%= @user.username %><h1>

Thanks for registering to roll charts! To confirm your registration click the URL below.
<a href="http://localhost:3000/confirm_email?token=<%= @user.confirm_token %>">Link:)</a>