$pale-blue: rgb(176, 202, 219);
$offset: 150px;
$blue: rgb(93, 146, 207);
$dark: rgb(27, 32, 39);
$dark-grey: rgb(35, 44, 56);
$prov: rgb(27, 32, 39);
$grey: rgb(55, 68, 83);

//rgb(33, 40, 51)
.characters .c-mh {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  .highlight {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 3px;
      background-color: $blue;
      position: absolute;
      bottom: -5px;
      border-radius: 5px;
    }
    svg {
      fill: $blue;
      stroke: none !important;
    }
  }
  div:first-of-type {
    margin-left: 0;
  }
  div:last-of-type {
    margin-right: 0;
  }
  div {
    cursor: pointer;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 10px;

    &:hover {
      svg {
        stroke: $blue;
      }
    }
    svg {
      width: 30px;
    }
  }
}

.characters .char-i {
  width: 100%;
  flex: 1;
  padding: 30px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.characters article {
  overflow: hidden;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
  border: 1px solid $grey;

  h2 {
    margin: 0;
  }
  header {
    position: relative;
    left: 0;
    background-color: $dark-grey;
    margin-bottom: 0;
    padding: 10px;
  }
  .date span {
    margin-right: 5px;
    font-size: 14px;
  }
}

.ca-bg {
  width: calc(100% - #{$offset});
  height: 100%;
  position: absolute;
  z-index: -10;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.characters .ca-l {
  .ca-bg {
    top: 0;
    right: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -$offset;
      width: calc(100% + #{$offset});
      z-index: -5;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, $dark-grey 0%, $dark-grey 28%, rgba(27, 32, 39, 0) 50%);
    }
  }
}
.characters .ca-r {
  align-items: flex-end;

  .ca-bg {
    top: 0;
    left: 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -$offset;
      z-index: -5;
      width: calc(100% + #{$offset});
      height: 100%;
      background: linear-gradient(270deg, $dark-grey 0%, $dark-grey 21.5%, rgba(27, 32, 39, 0) 50%);
    }
  }
}

.cm-d {
  max-width: 740px;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}
